.detalle-inventario-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.detalle-inventario-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detalle-inventario-card p {
    font-size: 16px;
    margin: 10px 0;
}

.detalle-inventario-card strong {
    color: #333;
}

.green-row {
    background-color: #a4eeb6;
}

.red-row {
    background-color: #f7b6bb;
}

.record-count {
    margin-top: 10px;
    font-weight: bold;
}