.rg-header {
    background-color: #c9bf3b;
    padding: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-brand {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.footer {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.rg-background {
    background-color: #c9bf3b;
}

.rg-textlink {
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: px;
}

.btn-rounded {
    background-color: #eceacb;
    border-radius: 20px;
    color: #0e0304;
    font-weight: 500;
}

.h-100 {

    background-color: #004362;
}

.tablas_admin {
    background-color: #ddd455;
    opacity: .8;
    max-width: 99%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #000
}

.table-bordered {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
}

th,
td,
tr {
    text-align: center;
    border: 1px solid #000
}

.spam_no {
    background-color: #ddd455;
    opacity: .8;
    max-width: 99%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
}

.btn-admin {
    background-color: #eceacb;
    border-radius: 20px;
    color: #0e0304;
    font-weight: 500;
    margin-top: 30px;
    align-items: right;

}

.acciones {
    width: fit-content;
}

.divEventos {
    background-color: #e9e8c9;
    padding: 0%;
    border-radius: 10px;
    width: auto;
    height: 720px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    
    align-items: center;
    justify-content: center;
}

.btn-categoriasRg {
    background-color: #004362;
    border-radius: 20px;
    color: white;
    font-weight: 1000;
    height: 180px;
    width: 180px;
    padding: 0%;
    margin-left: 10px;

}

.btn-categoriasLf {
    background-color: #004362;
    border-radius: 20px;
    color: white;
    font-weight: 1000;
    height: 180px;
    width: 180px;
    margin-left: 50px;
    padding: 0%;

}

.divCategorias {
    background-color: #e9e8c9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 210px;
    padding: 0%;
    font-weight: 1000;
    font-size: 1.2em;
    color: #004362;

}

.col-12{
    background-color: #e9e8c9;
    width: 350px;
    margin: 6px;
    padding: 0%;
}
.card{
    width: 350px;
    margin: 0px;
    padding: 0%;
}
.cardEvento {
    width: 350px;
    background-color:#ddd455 ;
   
    border-radius: 20px;

}

.card-body {
    background-color:#ddd455 ;
    width: 350px;
    height: auto;
    padding: 2px;
    
    
}

.card-img-top{
    height: 250px;
    width: 350px;
}

