
.rg-header {
    background-color:#c9bf3b;
    padding: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-brand {
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.footer {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.rg-background {
    background-color: #c9bf3b;
}
.rg-textlink {
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: px;
}
.btn-rounded {
    background-color: #eceacb;
    border-radius: 20px;
    color: #0e0304;
    font-weight: 500;
}
.h-100 {
    background-color: #004362;
}


.tablas_admin{
    background-color:#ddd455 ;
    opacity: .8;
    max-width: 99%;
   border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

